.mySavdo {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.mySavdo .mySavdoIcon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    scale: 0;
}

.mySavdo .mainBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
}

.mySavdo .mainBoxes span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mySavdo .mainBoxes span .orangeBox,
.mySavdo .mainBoxes span .blueBox {
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

.mySavdo .mainBoxes span .orangeBox {
    margin-bottom: 20%;
}

.mySavdo .mainBoxes .greenBox {
    width: 400px;
    height: 800px;
    margin-left: 30%;
}

.mySavdo .mainBoxes .textBox {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

.mySavdo .mainBoxes .textBox h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.mySavdo .mainBoxes .textBox p {
    font-size: .9rem;
    margin: 0;
    color: #ccc;
}

.mySavdo .mainMySavdoTexts {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.mySavdo .mainMySavdoTexts h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.mySavdo .mainMySavdoTexts h3 {
    font-size: .9rem;
    color: #ccc;
}

/*  */
.mySavdo .glowContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
}

.mySavdo .glow {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(90px);
    opacity: 0.6;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: screen;
    animation: pulse 4s ease-in-out infinite;
}

.mySavdo .glow-orange {
    background: #fdc83e;
    top: -100px;
    left: -100px;
}

.mySavdo .glow-blue {
    background: #28a6e5;
    bottom: -100px;
    left: -80px;
}

.mySavdo .glow-green {
    background: #66dd7d;
    right: -90px;
    top: 25%;
    height: 500px;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
}